
  <h3><i><%=art[:title]%></i></h3>
  <%if art[:creators]%>
    <%art[:creators].each do |creator|%>
      <h4><%=creator%></h4>
    <%end%>
  <%end%>
  <h5><%=art[:date]%></h5>
  <a href="<%=art[:url]%>"target="_blank"><img src="<%=art[:image]%>" width="100%"></a>
