<%= turbo_frame_tag dom_id(comment) do %>
  <div class="comment">
    <div class="row">
        <div class="col-sm">
          <%=link_to(comment.user.username, user_path(comment.user))%>
          <img class="comment-profile-img"src="<%=comment.user.image%>">
        </div>
        <div class="col-sm">
          <%=delete_comment(comment)%>
        </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="comment-content">
          <%=comment.content%>
        </div>
      </div>    
    </div>
  </div>
<%end%>
    
