
<div class="mix-edit form-outline text-center">

<%=render partial: 'shared/errors', locals: {obj: @mix}%>

  <%=form_for [current_user, @mix] do |f|%>
    <%=f.text_field :title, placeholder: "Title", class: "form-control-lg text-center", style: "width: 100%"%>
    <br><br>
    <div class="jumbotron">
      <%=f.label :description%>
      <br>
      <%=f.rich_text_area :description%>
    </div>
    <%@mix.contents.each do |c|%>
    <div class="jumbotron">
      <%=link_to "Remove this item from mix", content_path(c, mix_id: @mix.id), method: :delete%>
      <br>
      <div class="card-container">
        <div class="card">
          <%=render_piece(c)%>
        </div>
      </div>
          <%=f.fields_for :notes, c.specific_notes(@mix) do |note_fields|%>
            <%=note_fields.label "Edit item note:"%>
            <%=note_fields.rich_text_area :text%>
            <%=note_fields.hidden_field :content_id, value: c.id%>
            <%=link_to "Delete note", note_path(note_fields.object.id, mix_id: @mix.id), method: :delete%>
          <%end%>
        <br><br><br>
        <div class="note">
          <%=f.fields_for :notes, @mix.notes.build do |note_fields|%>
            <%=note_fields.label "New note for this item:"%>
            <%=note_fields.rich_text_area :text%>
            <%=note_fields.hidden_field :content_id, value: c.id%>
          <%end%>
        </div>
    </div>
    <%end%>
    <%=f.submit%>
  <%end%>
</div>

