 
<div class="mix-container">
  <div class="mix-content">
  <%if no_contents(mix)%>
   <div class="jumbotron mix-header">
    <h1><%=no_contents(mix)%></h1>
   </div>
  <%end%>
   <div class="jumbotron mix-header p-3">

      <h3><%=link_to mix.title, user_mix_path(mix.user, mix)%></h3>
      <h5>By <%=link_to mix.user.username, user_path(mix.user)%></h5>
      <%=profile_image(mix.user)%>
      <br><br>
      <i><%=mix.last_updated%></i>
      <br><br>
      <%=render partial: 'likes/like', locals: {mix: mix}%>
      <div class="edit-delete">
        <%=edit_link(mix)%><%=delete_link(mix)%>
      </div>
      

    </div>
      <%if mix.description.present?%>
        <div class="jumbotron">
          <i><%=mix.description%></i>
        </div>
      <%end%>
      <%@current_user_var = current_user%>
    
      <%mix.contents.each do |content|%>
        <div class="jumbotron">
          <%=render partial: 'contents/content', locals: {content: content, current_user_var: @current_user_var}%>
          <%content.specific_notes(mix).each do |note|%>
            <%=render partial: 'notes/note', locals: {note: note}%>
          <%end%>
        </div> 
      <%end%>
     
      <%=render partial: 'comments/comments', locals: {mix: mix}%>


  </div>
</div>