<div class="mix-index album ">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 style="max-width: 100%; word-wrap: break-word"><%=@user.username%>'s Collection</h2> 
      <hr>
      <%=render partial: 'users/user', locals: {user: @user, current_user_var: @current_user}%>
    </div>     
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="album " style="width: 80%; margin: auto">
        <%=new_link%>   
        
        <%@mixes.each do |m|%>
          <%=render partial: 'mix_preview', locals: {mix: m, current_user_var: @current_user}%>
        <%end%>
      </div>
      <hr>
      <h3>Liked Mixes</h3>
      <div class="album py-5" style="width: 80%; margin: auto">
        <%@user.liked_mixes.each do |m|%>
          <%=render partial: 'mix_preview', locals: {mix: m, current_user_var: @current_user}%>
        <%end%>
      </div>
      <hr>
      <h3>Commented On</h3>
      <div class="album py-5" style="width: 80%; margin: auto">
        <%@user.commented_mixes.each do |m|%>
          <%=render partial: 'mix_preview', locals: {mix: m, current_user_var: @current_user}%>
        <%end%>
      </div>
      
      <br>
    </div>
  </div>
</div>