<div class="mix-index album ">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%=@user.username%>'s Collection</h2> 
      <%=render partial: 'users/user', locals: {user: @user}%>
    </div>     
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="album " style="width: 80%; margin: auto">
        <%=new_link%>   
        
        <%@mixes.each do |m|%>
          <%=render partial: 'mix_preview', locals: {mix: m}%>
        <%end%>
      </div>
      <h3>Liked Mixes</h3>
      <div class="album py-5" style="width: 80%; margin: auto">
        <%@liked_mixes.each do |m|%>
          <%=render partial: 'mix_preview', locals: {mix: m}%>
        <%end%>
      </div>
      <br>
    </div>
  </div>
</div>