<div class="search bg-light">
  <div class="row">
    <div class="col-md-12 text-center">
      <%=form_with url: '/welcome', method: :get do |f|%>
        <%=f.label :query, "Search"%>
        <%=f.text_field :query, placeholder: "Search for content to add to your mix!", class:"search-query"%>
        in <%=select_tag "filter", "<option>All</option><option>Mixes</option><option>Music (Spotify)</option><option>Poetry (Poetry Foundation)</option><option>Movies/TV (IMDB)</option><option>Books (Google Books)</option><option>Artwork (The Met)</option>".html_safe, class:"search-filter"%>
        <%=f.submit "Search", data: {disable_with: "Searching..."}%>
      <%end%>
      <i style="display: none">Use this to search for mixes or items and add them to your mixes!</i>
    </div>
  </div>
  
</div>