<!DOCTYPE html>
<html>
  <head>
    <title>MeMix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center title">Memix</h1>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav nav-tabs mx-auto">
          <%=link_to 'Feed', '/', class: 'nav-item nav-link'%>
          <%=link_to 'Profile', user_mixes_path(current_user), class: 'nav-item nav-link' if current_user%>
          <%=link_to 'Logout', '/logout', class: 'nav-item nav-link' if current_user%>
          <%=link_to 'Login', '/login', class: 'nav-item nav-link' unless current_user%>
          <%=link_to 'Create Account', new_user_path, class: 'nav-item nav-link' unless current_user%>
        </div>
      </nav>
    </div>
    <%= render partial: 'welcome/search'%>
    <br>
    
      <%= yield %>
    <div class="jumbotron">
      <h1 class="text-center">Who to follow</h1>
      <div class="row people-to-follow">
        <div class="col-md-12">
          <%=people_to_follow if current_user%>
          <%=link_to 'Login', '/login', class: "btn-lg justify-self-center" if !current_user%>
        </div>
      </div>
    </div>
  </body>
</html>

