<!DOCTYPE html>
<html>
  <head>
    <title>MeMix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  <body class="bg-light">
    <br>
    <div class="row ">
      <div class="col-md-12">
        <h1 class="text-center title"><a href="/welcome" class="nav-link">MEMIX</a></h1>
        <div class="pos-f-t">
          <nav class="navbar navbar-light ">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="links  text-center">
              <%=link_to 'Feed', '/', class: ''%>
              <%=link_to 'Mix Collection', user_mixes_path(current_user), class: '' if current_user%>
              <%=link_to 'Logout', '/logout', class: '' if current_user%>
            </div>  
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'welcome/search'%>
    <br>
    
      <%= yield %>
    <div class="album">
      <br><br><br>
      <h1 class="text-center text-color-white">Who to follow</h1>
      <div class="row people-to-follow">
        <div class="col-md-12 text-center">
          <%=people_to_follow %>
        
        </div>
      </div>
    </div>
  </body>
  
</html>

