<!DOCTYPE html>
<html>
  <head>
    <title>MeMix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-light">
    <h1 class="text-center title"><a href="/welcome" class="nav-link">Welcome to MEMIX</a></h1>
    <%= yield %>
  </body>
</html>

